@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.brand-nav {
  position: absolute;
  margin: auto;
}

.nav-logo-text {
  letter-spacing: 0.8vw;
  text-align: center;
  text-decoration: none;
}

.nav-logo-text a {
  text-decoration: none;
}

.home {
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  min-width: 100%;
}

.nav-link {
  text-decoration: none;
  padding: 5px;
  margin: 0 20px 0 40px;
  position: relative;
}

.burger-menu-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 25px;
  visibility: hidden;
}

.burger-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translateY(100vh);
  transition: all 0.3s ease-in;
}

.mobile-menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: absolute;
  height: 100vh;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
}

.mobile-nav-link {
  align-content: center;
  font-size: 2em;
  margin: 50px 0;
  text-decoration: none;
}

#mobile-menu-btn-close {
  z-index: 20;
}

.nav-link:after {
  content: "";
  /* Add content after the element */
  position: absolute;
  /* Position absolute for pseudo-element */
  width: 100%;
  /* Full width */
  transform: scaleX(0);
  /* Initial scale of 0 for underline effect */
  height: 1px;
  /* Height of the underline */
  bottom: 0;
  /* Align to bottom */
  left: 0;
  /* Align to left */
  background-color: #000000;
  /* Background color of the underline */
  transform-origin: bottom right;
  /* Set transform origin */
  transition: transform 0.25s ease-out;
  /* Transition effect for the underline */
}

.nav-link:hover:after {
  transform: scaleX(1);
  /* Scale the underline on hover */
  transform-origin: bottom left;
  /* Set transform origin */
}

.link-left {
  position: absolute;
  left: 0;
}

.section-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.hero-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-bg-txt {
  position: relative;
  top: 50vh;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.atelier-txt {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  margin: 20px 0 10px 0;
  letter-spacing: 2vw;
  font-size: 15vw;
  height: 120%;
}

.separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  min-height: 120px;
  opacity: 0;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 90vh;
}

.line {
  width: 1px;
  min-height: 120px;
  background-color: black;
}

.artwork-wrapper {
  width: 100vw;
  height: 60vh;
}

.briefing {
  max-width: 474px;
  margin: 30px;
  text-align: justify;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: contain;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

video {
  width: 100%;
  height: 100%;
  padding: 10vh 0;
  object-fit: cover;
}

.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic-wrapper {
  min-width: 60%;
  height: 70vh;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.artist-quote-wrapper {
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.separator-2 {
  background-color: #000;
  width: 67px;
  height: 1px;
  position: absolute;
  top: 50%;
  bottom: 0%;
  left: -33px;
  right: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  min-width: 50vw;
}

.footer-link {
  margin: 0 20px;
  text-decoration: none;
  position: relative;
}

.footer-link:after {
  content: "";
  /* Add content after the element */
  position: absolute;
  /* Position absolute for pseudo-element */
  width: 100%;
  /* Full width */
  transform: scaleX(0);
  /* Initial scale of 0 for underline effect */
  height: 1px;
  /* Height of the underline */
  bottom: 0;
  /* Align to bottom */
  left: 0;
  /* Align to left */
  background-color: #000000;
  /* Background color of the underline */
  transform-origin: bottom right;
  /* Set transform origin */
  transition: transform 0.25s ease-out;
  /* Transition effect for the underline */
}

.footer-link:hover:after {
  transform: scaleX(1);
  /* Scale the underline on hover */
  transform-origin: bottom left;
  /* Set transform origin */
}

.copyright {
  color: rgba(120, 120, 120, 0.5);
}

.dev-link {
  text-decoration: none;
  color: rgba(120, 120, 120, 0.5);
}

.under-construction {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
.artworks-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artworks-hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
.artworks-main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.artworks-txt {
  margin-top: 15px;
  font-size: 100px;
  line-height: 100%;
  color: black;
  letter-spacing: 1.5vw;
  font-family: "Noto Serif", serif;
  position: relative;
  top: 20vh;
  left: 10vw;
}
.artworks-grid {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.artwork-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.artwork-card:hover {
  transform: scale(0.95);
}
.artwork-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.artwork-title {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 15px;
}
@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .burger-menu-btn {
    visibility: visible;
  }

  .nav-link {
    visibility: hidden;
  }

  .section-4 {
    flex-direction: column-reverse;
  }

  .artist-quote-wrapper {
    padding: 60px;
  }

  .artwork-wrapper {
    height: 80vh;
  }

  .swiper-slide img {
    height: 100%;
    width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-links {
    min-width: 80vw;
  }
  .copyright {
    margin-top: 20px;
  }
  .artworks-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 478px) {
  .artwork-wrapper {
    height: 90vh;
  }

  .artworks-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
